<div class="card card-form">
    <div class="card-header text-center py-auto reset-item">
        <p class="py-3"><b>Reset Password</b></p>
        <span class="noti-reset">We've sent you a verification code. When you receive the code, enter it in the box below to continue to 
            the process of resetting your password.
        </span>
    </div>
    <div class="card-body">
        <form method="POST" action="/">
            <div class="form-group">
                <label for="authen-code">Authentication Code</label>
                <input type="text" class="form-control" id="authen-code" name="authen-code" value="">
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" class="form-control" id="new-password" name="new-password" value="">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirm Password</label>
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" value="">
            </div>
            <div class="form-check px-0">
                <button type="submit" class="btn btn-dark text-center w-100">Reset Password</button>
            </div>
        </form>
    </div>
</div>