<div class="card card-form">
    <div class="card-header text-center py-auto">
        <p class="py-3"><b>Create an account</b></p>
    </div>
    <div class="card-body">
        <form method="POST" action="/">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" value="">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirm Password</label>
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" value="">
            </div>
            <div class="form-check px-0">
                <button type="submit" class="btn btn-dark text-center w-100">Create account</button>
            </div>
            <div class="form-group my-4">
                <p>
                    By clicking Create Account, you agree to E-Learning's <a href="#">Terms of Service</a> 
                    and <a href="#">Privacy Policy</a>                   
                </p>
            </div>
            <div class="form-group line"></div>
            <div class="form-group text-center">
                <span class="text-line">or use</span>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <a class="btn btn-outline-secondary w-100 logo-item" href="#" role="button">
                        <img class="mr-3" src="https://img.icons8.com/color/26/000000/google-logo.png"/>
                        Google
                    </a>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-secondary w-100 logo-item" href="#" role="button">
                        <img class="mr-3" src="https://img.icons8.com/fluency/26/000000/facebook-new.png"/>
                        Facebook
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>